html {
    font-weight: 400;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;/
    height: auto;
    width: auto;
}
body {
    margin: 0;
    padding: 0;
}
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background-size: cover;
}
.buttons {
  text-align: center;
  font-family: verdana;
  font-size: 12px;
  font-stretch: extra-expanded;
  letter-spacing: 1px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.container.nav {
  text-align:center; }

.logo{
    width: 20%;
    height: 20%;
    max-height: 220px;
    max-width: 200px;
    display: inline;
    margin: auto;
    margin-left: .1px;
}

.header {
    font-family: lucida;
    font-stretch: ultra-expanded; 
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: black;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto
    padding: 0px;   
}

.information {
  margin: auto;
  text-align: center;
}

.submit {
	text-align: center;
}

input, select {
    width: auto;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border: 3px solid #555;
}

input [type=submit] {
  margin: auto;
  width: auto;
  text-align: center;
  padding: 10px;
}

.symptoms {
  padding: 2px;
  margin: auto;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 45px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: darkgrey;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.buttons {
	text-align: center;
	font-family: verdana;
	font-size: 12px;
	font-stretch: extra-expanded;
	letter-spacing: 1px;
}

button,
.button {
  margin-bottom: 1rem; }
